[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/common"]
	path = lib/common
	url = https://github.com/MZero-Labs/common
[submodule "lib/protocol"]
	path = lib/protocol
	url = https://github.com/MZero-Labs/protocol
